:root{
    --mainBlack:#0A0A0A;
    --darkGray:#222222;
    --mainGrag:#1A1A1A;
    --LightGray:#C7C7C7;
    --mainWhite:#FFFFFF;
    --mainGreen:#D3E97A;
    --hrColor:#484848;
}
body{
    background-color: var(--mainBlack);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", serif;
    font-style: normal;
    box-sizing: border-box;
}
nav{
    max-width: 100%;
    height: 96px;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--LightGray);
    font-size: 40px;
}
nav>label{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    font-family: "Bebas Neue", serif;
}
nav>ul{
    display: flex;
    width: 207px;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1rem;
    font-weight:500;
}
.first-card{
    width: 100%;
    height: 810px;
    padding: 30px 108px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-card > .text-box{
    width: 544px;
    height: 360px;
    display: flex;
    flex-direction: column;
}
.first-card h1{
    white-space: pre-wrap;
    text-transform: uppercase;
    font-size: 101px;
    color: var(--mainWhite);
    font-family: "Bebas Neue", serif;
    line-height: 90px;
}
.first-card p{
    font-size: 18px;
    color: var(--LightGray);
    line-height: 27px;
    margin-bottom: 40px;
}
.text-box > .btns-box{
    width: 327px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.contact-me{
    width: 187px;
    height: 100%;
    background-color: var(--mainGreen);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: var(--mainBlack);
    position: relative;
    padding: 20px 60px 20px 24px;
    border-radius: 100px;
    border: none;
    
}
.contact-me::after{
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--mainBlack);
    border-radius: 50%;
    position: absolute;
    top: 19px;
    right: 19px;
    transition-duration:0.5s;
}
.contact-me:hover::after{
    width: 42px;
    height: 42px;
    top: 6px;
    right: 6px;
}
.btns-box > .circle{
    border-radius: 50%;
    width: 54px;
    height: 100%;
    background-color: var(--darkGray);
}
.first-card > .image-box{
    width: 600px;
    height: 700px;
    background-color: var(--LightGray);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.first-card img{
    width: 600px;
    height: 663px;
}
hr{
    width: 100%;
    border: solid 1px var(--hrColor);
}
.second-card{
    width: 100%;
    height: 3955px;
    padding: 80px 108px 177px;
}